<%- include('partials/header') %>

    <main class="main select-alphabet">


        <form action="/alphabets-menu" method="post">
            <div class="header">
                <div class="text-box alphabox card-wrapper">
                    <div class="alfa-card alphabet-btn" onclick="submitForm('upperCase');">
                        <h1>A</h1>
                        <input type="hidden" name="upperCase" id="upperCase">
                    </div>
                    <div class="alfa-card alphabet-btn" onclick="submitForm('lowerCase');">
                        <h1>a</h1>
                        <input type="hidden" name="lowerCase" id="lowerCase">
                    </div>
                </div>
            </div>
        </form>

    </main>
    
    <script>

        function submitForm(a) {
            document.getElementById(a).value = true;
            document.getElementsByTagName("form")[0].submit();
        }

    </script>
    <%- include('partials/footer') %>