<%- include('partials/header') %>

    <div class="header">
        <div class="text-box alphabox">
            
        </div>
    </div>

    <script>
        var alpType = "<%= type %>";
    </script>
    <%- include('partials/footer') %>