<%- include('partials/header') %>

    <div class="header">
        <div class="text-box alphaNumbox">

        </div>
    </div>

    <script>
        var numType = "<%= type %>";
    </script>
    
<%- include('partials/footer') %>